$default__color-link : rgba(0,0,0,1);
$default__color-description : rgba(0,0,0,1);
$default__color-text : rgba(0,0,0,1);

$logo__color-default : rgba(52,152,219,1);
$logo__bgColor-subtitle : rgba(251,2,0,1);


$navigation__list-bg : rgba(52,152,219,1);
$navigation__list-linkColor : rgba(255,255,255,1);
